<div>
  <div class="container-text">
    <h1>Sobre mí</h1>
    <p>
      Soy un desarrollador front-end y back-end apasionado por el aprendizaje continuo.
      Me encanta crear aplicaciones web que combinan un diseño atractivo con una funcionalidad impecable.
      La experiencia del usuario, el código limpio, accesible y lo más humano posible son aspectos fundamentales para mí, al igual que los detalles. A veces, menos es más.
    </p>
    <p>
      Poseo una ingeniería en Sistemas Computacionales por la Universidad Mundo Maya, campus Campeche. También he completado varios cursos en Udemy, y voy por más.
    </p>
    <p>
      Disfruto mucho de mis momentos construyendo, aprendiendo, explorando y pensando en cómo mejorar las cosas. Actualmente, me dedico a crear y perfeccionar proyectos e ideas personales.
      Estoy disponible para trabajos fijos e independientes. ¡No dudes en saludar y charlar un rato!
    </p>
    <p>
      Reina Isabel II:
      <q>En esencia, la ingeniería consiste en utilizar la ciencia para encontrar soluciones creativas y prácticas. Es una profesión noble.</q>
    </p>
  </div>

  <br>
  <div class="container-works">
    <h2>Habilidades y Herramientas</h2>
    <main class="svg-container">
      <div *ngFor="let svg of svgs" [ngClass]="['svg', svg.color]">
        <svg
          [attr.aria-labelledby]="svg.icon"
          role="img"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path [attr.d]="svg.path"></path>
        </svg>
        <p [id]="svg.icon">{{ svg.icon.replace('simpleicons-', '').replace('-icon', '').toUpperCase() }}</p>
      </div>
    </main>
  </div>

  <div class="container-text2">
    <h1>Más sobre mi</h1>
    <p>
      Me encanta aprender de forma autodidacta; cualquier conocimiento adicional que me enriquezca representa un paso adelante en mi camino. Disfruto profundamente del diseño web, prestando especial atención a que sea responsivo y con una estética cuidadosamente trabajada, pixel por pixel.
    </p>
    <p>
      En el ámbito de las API’s, siento que mis conocimientos tienen un gran potencial por explorar. Creo que con ellos es posible construir soluciones más robustas e impactantes, y es un área en la que quiero seguir creciendo.
    </p>
    <p>
      Además, en mi tiempo libre, me dedico a ser asesor deportivo, ayudando a las personas a alcanzar los progresos físicos que desean. Estudio sobre anatomía y el comportamiento del cuerpo humano para entender cómo lograr un cuerpo fuerte y estético. Esto no solo me permite apoyar a otros, sino también mantener un equilibrio saludable entre mente y cuerpo.
    </p>
    <p>
      A continuación, encontrarás una presentación de herramientas y habilidades que planeo seguir formándome.
    </p>
    <main>

    </main>
  </div>
</div>
